body{
    margin: 150px;
background-color: lightgrey;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.form{

    padding: 30px;
    margin: 30px, 20px;
    background-color: whitesmoke;
    border: 1px solid;
    width: 200px;
    height: 150px;
}
.button{
   width: 80px;
}